@model IEnumerable<InvoiceGenerateAppNew.Models.InvoiceDetail>
@{
    ViewData["Title"] = "Invoice History";
}

<h1>-Invoice History-</h1>

<p>
    <a asp-action="Create">Create New Record</a>
</p>

<p>
    <a asp-action="PrintInvoice">Print Invoice</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discounts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discounts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceID">Info.</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceID">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>